
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    padding: 30px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
}
nav a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}
section{
    padding: 20px;
}
footer{
    text-align: center;
    padding: 20px;
}